# Ignore runtime artifacts and OS files
/.env
/vendor/
node_modules/
.DS_Store
/.idea
/.vscode

# Ignore generated versions folder content by default, but not the tables directory itself.
tables/**/data_*.csv